@use "variables" as *;

:root {
  --texture-bg: url("/images/texture/bg.svg");
  --texture-light: url("/images/texture/screentone-light.svg");
  --texture-thick: url("/images/texture/screentone-thick.svg");

  @include media-down($screen-sm) {
    --texture-bg: url("/images/texture/bg-fine.svg");
  }
}

.theme-light {
  --primary-desktop-c: #8420ff;
  --primary-mobile-c: oklch(0.53 0.18 305); // primary color for mobile. Mobile needs more focus and higher contrast
  --secondary-c: oklch(0.69 0.12 318);
  --accent-c: oklch(0.95 0.16 108.76); // color for emphasis
  --blank-c: oklch(0.98 0 0); // color to leave breathing space
  --frame-c: oklch(0.96 0 0); // color for the frame and borders
  --line-c: #ffffff;
  --text-body: #b9b5bf;
  --text-high-contrast: #8420ff;
  --detail-high-contrast: oklch(0.75 0.01 305);
  --detail-medium-contrast: oklch(0.94 0 0);
  --detail-low-contrast: oklch(0.96 0 0);
  --note-c: rgb(46, 109, 188);
  --warning-c: rgb(255, 196, 9);
  --danger-c: rgb(220, 38, 38);
  --primary-desktop-c-oklch: 0.53 0.18 305;
  --text-high-contrast-rgb-value: 49, 49, 49;
}

@include media-down($screen-sm) {
  .theme-light {
    --primary-desktop-c: #8420ff;
    --primary-mobile-c: oklch(41.449% 0.09917 307.26); // primary color for mobile. Mobile needs more focus and higher contrast
    --secondary-c: oklch(0.69 0.12 318);
    --accent-c: oklch(0.95 0.16 108.76); // color for emphasis
    --blank-c: oklch(0.98 0 0); // color to leave breathing space
    --frame-c: oklch(0.96 0 0); // color for the frame and borders
    --line-c: #343434;
    --text-body: #343434;
    --text-high-contrast: #232323;
  }
}

.theme-dark {
  --primary-desktop-c: #8ab4f8;
  --primary-mobile-c: #c1a8e2;
  --secondary-c: #33565a;
  --accent-c: #f9f871;
  --blank-c: #f9f9f9;
  --frame-c: #E7E7E7;
  --line-c: #FFF;
  --text-body: #616161;
  --text-high-contrast: rgb(195, 195, 195);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --note-c: rgb(146, 179, 220);
  --warning-c: rgb(253, 186, 116);
  --danger-c: rgb(220, 38, 38);
  --text-high-contrast-rgb-value: 195, 195, 195;
}