header {
  position: absolute;
  top: 0.8rem;
  left: 0;
  z-index: 100;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  z-index: 100;
  justify-content: center;
  gap: 3vw;
  padding: 0.8rem 2rem;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: var(--detail-medium-contrast);
  font-size: 2.4rem;
}

.footer__link:hover {
  filter: invert(1);
}

.footer__link__svg {
  display: block;
  height: 2.4rem;
  opacity: 0.8;
  fill: var(--detail-medium-contrast);
}

.footer__link__text {
  font-size: 1.8rem;
  display: inline-block;
  padding-bottom: 2px;
}

.ball {
  position: fixed;
  border-radius: 50%;
  top: 50px;
  height: 1400px;
  left: -80%;
}

/** intro slide **/
.intro--container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 156px auto;
  gap: 1.2rem;
  max-height: calc(100% - 1.8rem);
  z-index: 10;
}

.intro--content__sticker {
  right: 0;
  margin-left: calc(100% - 380px);
}

.intro--content__picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.image__wrapper {
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
  border: 1px solid #845094;
  border-radius: 50%;
  overflow: hidden;
  transition: filter 3s;
}

.image__wrapper.flipping {
  filter: grayscale(0%);
  animation: flipHorizontally 3s ease-out forwards;
}

@keyframes flipHorizontally {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(1080deg);
  }
}

.intro--content__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro--content__title:before {
  content: "⁂✵▔✵ ░▒▓";
  line-height: 1.1;
  font-size: 18rem;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  color: #845094;
  position: absolute;
  left: 312px;
  top: -100px;
  letter-spacing: 10px;
  opacity: 0.4;
  transform: rotate(-15deg);
  font-weight: 200;
  -webkit-text-stroke: 0;
}

.intro--content__title:after {
  content: "";
  width: 0;
  height: 0.4rem;
  background-color: #845094;
  border-radius: 0.4rem 0.4rem 0 0;
  display: block;
  animation: widen 1.5s 1s ease-out forwards;
}

@keyframes widen {
  0% {
    width: 0;
  }

  100% {
    width: 12rem;
  }
}

.intro--content__description {
  overflow-y: scroll;
  margin-inline-end: -4rem;
}

.intro--content__description :first-child {
  max-width: 400px;
}

.intro--content__description::-webkit-scrollbar {
  width: 50px;
}

.intro--content__description::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* background-image: url("/images/scrollbar.svg"); */
  background-image: url("/images/scrollbar-long.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.intro--content__description p {
  max-width: 80%;
}

/** project slide **/
.project--container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.project--container .content__title {
  background: #85dae8 url("/images/bg.svg");
}

.project--container .content__description {
  font-size: 2.4rem;
}

details {
  border: 1px solid black;
  line-height: 1.2;
  padding: 0 1.8rem;
  margin-top: 10px;
  border-radius: 0.8rem;
  color: var(--text-high-contrast);
  --project-primary: var(--brand-primary);
}

details:open {
  background-color: rgba(204, 204, 255, 0.479);
}

details[name="falconpack"] {
  --project-primary: rgb(4, 95, 13);
}

details[name="wow"] {
  --project-primary: rgb(14, 120, 0);
}

details[name="pinterview"] {
  --project-primary: rgb(237, 56, 56);
}

details[name="ohgar"] {
  --project-primary: rgb(37, 37, 37);
}

summary {
  line-height: 1.65;
  color: var(--project-primary);
}

summary h3 {
  display: inline;

  font-size: 2.4rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 1.8rem;
}

summary em {
  color: var(--detail-low-contrast);
  background: var(--project-primary);
  font-size: 2rem;
  font-style: normal;
  display: inline-block;
  line-height: 2.4rem;
}

summary span {
  display: inline-flex;
  align-items: center;
  vertical-align: text-top;
}

summary span::before,
summary span::after {
  content: "";
  height: 0;
  display: inline-block;
  background: transparent;
}

summary span::before {
  border-inline-end: 0 solid transparent;
  border-inline-start: 2.4rem solid transparent;
  border-block-start: 0 solid transparent;
  border-block-end: 2.4rem solid var(--project-primary);
}

summary span::after {
  border-inline-end: 2.4rem solid transparent;
  border-inline-start: 0 solid transparent;
  border-block-start: 2.4rem solid var(--project-primary);
  border-block-end: 0 solid transparent;
}

#skills .embla__slide__number {
  padding-inline-end: 0;
}

.skills--container {
  display: grid;
  max-width: 100%;
  grid-template-rows: 100px auto;
  gap: 1.2rem;
  max-height: calc(100% - 1.8rem);
}

.skills--container .content__title {
  position: sticky;
  top: 0;
}

.skills--mindmap__container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.skills--mindmap__container::-webkit-scrollbar {
  width: 50px;
}

.skills--mindmap__container::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* background-image: url("/images/scrollbar.svg"); */
  background-image: url("/images/scrollbar-long.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/** slide styles **/
.content__sticker {
  position: sticky;
  top: 0;
  height: 1px;
  width: 1px;
  z-index: 100;
}

.content__header {
  display: inline-flex;
  gap: 1.8rem;
}

.content__title {
  grid-column: span 2;
  grid-row: span 1;
  margin-block-start: 0;
  margin-block-end: 0.8rem;
  -webkit-text-stroke: 1px black;
  color: transparent;
  font-weight: 900;
}

.content__description {
  grid-column: span 2;
  grid-row: span 1;
}

.content__description p {
  margin-block-start: .4rem;
  font-size: 2rem;
}