@use "../variables" as *;

%message {
  padding: 0.8rem 1.8rem;
  line-height: 1.2;
  font-size: 1.8rem;
  border-radius: 1.8rem;
}

.chat--container {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 80px 1fr 4rem;
  max-height: 100%;
  width: 100%;
  height: 100%;
  --chat-1-c: oklch(0.51 0.23 293);
  --chat-2-c: var(--frame-c);

  .chat--messages {
    grid-column: 2/3;
    display: flex;
    overflow-y: scroll;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-block: 0 40px;
      padding-left: 20px;
      width: 100%;
    }
  }

  .chat--message {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.user {
      align-items: flex-end;
      margin-inline-end: 22px;

      .message--bubble {
        --message-bg: var(--chat-1-c);
        background-color: var(--message-bg);
        color: var(--frame-c);

        &:after {
          right: -22px;
          top: min(50%, 50px);
          transform: translateY(-50%);
          border-color: transparent transparent transparent var(--message-bg);
        }
      }
    }

    &.ai {
      align-items: flex-start;
      margin-inline-start: 22px;

      .message--bubble {
        --message-bg: var(--chat-2-c);
        background-color: var(--message-bg);
        color: var(--text-high-contrast);

        &:after {
          display: none;
        }
      }

      &:last-child {

        .message--bubble:after {
          display: block;
          bottom: min(50%, 20px);
          left: -22px;
          transform: translateY(50%);
          border-color: transparent var(--message-bg) transparent transparent;
        }
      }
    }
  }

  .message--bubble {
    @extend %message;
    position: relative;
    max-width: 75%;
    margin: 0.8rem 0;

    &:after {
      content: "";
      position: absolute;
      width: 20px;
      border-style: solid;
      border-width: 14px;
    }
  }
}

.chat--figure {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: flex-end;

  .rounded {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-block-end: 0.8rem;
    background-color: #151515;

  }

  img {
    filter: brightness(1.3);
  }

  video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    // use the end state of the animation
    opacity: 0;
    animation: delayFade 2.5s linear;

    &.active {
      opacity: 1;
    }
  }

  video {
    z-index: 2;
  }

  @keyframes delayFade {
    0% {
      opacity: 1;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  small {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--text-body);
  }
}



.chat--bottom {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  width: 100%;
  flex-direction: column;
}

// Input area
.chat--input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1.8rem;


  input {
    @extend %message;
    min-width: 50%;
    outline: none;
    border: none;
    padding-inline-start: 5.4rem;
    border-radius: 1.8rem 0 0 1.8rem;
    background: url("/images/svg/pencil.svg") no-repeat left 1.8rem center, var(--frame-c);
  }

  .chat--send {
    @extend %message;
    display: flex;
    position: relative;
    align-items: center;
    border: none;
    background-color: var(--chat-1-c);
    border-radius: 0 1.8rem 1.8rem 0;
    color: var(--frame-c);
    font-weight: 600;
    cursor: pointer;

    &.loading {
      span {
        opacity: 0;
      }

      &:after {
        @extend %loader;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        left: 31px;
        top: 12px;
      }
    }

    &:hover {
      background-color: oklch(0.55 0.23 293);
    }
  }

}

@include media-up($screen-sm) {
  .chat--figure {
    position: absolute;
    display: flex;
    bottom: 6.4rem;
    left: 8%;
  }
}

@include media-down($screen-sm) {
  .chat--container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 5rem;
    max-height: calc(100dvh - 10rem);
    --chat-1-c: oklch(0.51 0.23 293);
    --chat-2-c: var(--frame-c);


    .content__title {
      display: none;
    }

    .chat--figure {
      grid-column: 1/3;
      grid-row: 1/2;
      position: absolute;
      display: flex;
      justify-content: center;
      width: calc(100% - 4rem);
      height: 280px;
      opacity: 0.4;

      .rounded {
        min-height: 80px;
        min-width: 80px;
      }

      small {
        display: none;
      }

    }

    .chat--messages {
      z-index: 5;

      ul {
        margin-block: 0 16px;
        padding-left: 0;
      }

      .message--bubble {
        word-break: break-word;
      }
    }

    .chat--bottom {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}