@use "../variables" as *;

/** slide styles **/
.content {
  &__sticker {
    position: sticky;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 100;
  }

  &__header {
    display: inline-flex;
    gap: 1.2rem;
  }

  &__title {
    grid-column: span 2;
    grid-row: span 1;
    margin-block-start: 0;
    margin-block-end: 0.8rem;
    font-size: 6rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px var(--line-c);
  }

  &__description {
    grid-column: span 2;
    grid-row: span 1;

    p {
      margin-block-start: 0.4rem;
      font-size: 2rem;
    }
  }

  @include media-down($screen-sm) {
    &__title {
      font-size: 4rem;
      text-align: center;
    }

    &__sticker {
      position: relative;
      width: unset;
      height: unset;
    }
  }
}

/** individual slides **/
/** intro slide **/
.intro--container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 156px auto;
  gap: 1.2rem;
  max-height: calc(100% - 1.8rem);
  z-index: 10;
}

.intro--content {

  &__sticker {
    right: 0;
    margin-left: calc(100% - 380px);
  }

  &__picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;

    .image__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid var(--primary-desktop-c);
      border-radius: 50%;
      overflow: hidden;

      &.flipping {
        animation: flipHorizontally 3s ease-out forwards;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    position: relative;



    &:after {
      content: "";
      width: 0;
      height: 0.4rem;
      background-color: var(--primary-desktop-c);
      border-radius: 0.4rem 0.4rem 0 0;
      display: block;
      animation: widen 1.5s 1s ease-out forwards;
    }
  }

  &__description {
    @extend %custom--scroll !optional;
    margin-inline-end: -4rem;

    p {
      max-width: 80%;
    }

    p:first-child {
      max-width: 60%;
    }
  }
}

section#intro>div {
  &:before {
    content: "⁂✵▔✵ ░▒▓";
    line-height: 1.1;
    font-size: 8rem;
    user-select: none;
    pointer-events: none;
    touch-action: none;
    color: var(--primary-desktop-c);
    position: absolute;
    left: 312px;
    top: -87px;
    letter-spacing: 10px;
    opacity: 0.4;
    transform: rotate(-15deg);
    font-weight: 200;
    -webkit-text-stroke: 0;
    z-index: -10;
  }
}

section#intro>div {
  @include media-up($screen-sm) {

    &::after {
      content: "";
      position: fixed;
      height: 700px;
      width: 700px;
      left: 2px;
      top: 2px;
      background: url("/images/svg/ball.svg") no-repeat center center;
    }
  }
}

section#intro>div {
  @include media-down($screen-sm) {
    overflow-y: scroll;

    &:before {
      font-size: 6rem;
      left: 44%;
      top: -20px;
      letter-spacing: 8px;
      color: var(--secondary-c);
      opacity: 1;
      transform: translateX(-50%) rotate(-15deg);
      mix-blend-mode: soft-light;
      z-index: 1;
    }
  }
}

.intro--container {
  @include media-down($screen-sm) {
    margin-block-start: 1.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
    max-height: unset;
  }
}

.intro--content {

  @include media-down($screen-sm) {
    &__sticker {
      margin-left: 0;
    }

    &__picture {
      margin-inline: auto;
      width: 100px;
      height: 100px;

      .image__wrapper {
        border: none;
      }
    }

    &__title {
      text-align: center;
      font-size: 2rem;
      color: var(--text-body);
      -webkit-text-stroke: 0 transparent;
      font-family: var(--font-tenor);
      font-weight: 600;
      margin-block-end: 0;

      &:after {
        display: none;
      }
    }

    &__description {
      margin-inline-start: 1rem;
      margin-inline-end: 0;
      overflow-y: visible;

      ::-webkit-scrollbar-thumb {
        background-image: none;
      }

      p:first-child {
        max-width: 100%;
      }

      p {
        max-width: 100%;
        font-family: $font-book;
      }
    }
  }
}

@keyframes flipHorizontally {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(1080deg);
  }
}

@keyframes widen {
  0% {
    width: 0;
  }

  100% {
    width: 12rem;
  }
}

/** project slide **/
.project--container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  overflow-y: scroll;

  .content__title {
    background: #3d5558b4 var(--texture-bg);
  }

  .project--content__details {
    border: 1px solid var(--line-c);
    line-height: 1.2;
    padding: 0 1.8rem;
    margin-top: 10px;
    border-radius: 0.8rem;
    font-size: 2rem;
    color: var(--text-body);
    --project-primary: var(--brand-primary);

    p,
    li,
    em {
      font-size: inherit;
    }

    time {
      font-size: 1.8rem;
      opacity: 0.6;
    }

    summary {
      line-height: 1.65;
      color: var(--project-primary);

      h3 {
        display: inline;
        font-size: 2rem;
        margin-block-start: 0.8rem;
        margin-block-end: 0.8rem;
        margin-inline-end: 1.8rem;
      }

      em {
        color: var(--detail-low-contrast);
        background: var(--project-primary);
        font-size: 2rem;
        font-style: normal;
        display: inline-block;
        line-height: 2.4rem;
      }

      .content__highlight {
        display: inline-flex;
        align-items: center;
        vertical-align: text-top;

        &::before,
        &::after {
          content: "";
          height: 0;
          display: inline-block;
          background: transparent;
        }

        &::before {
          border-inline-end: 0 solid transparent;
          border-inline-start: 2.4rem solid transparent;
          border-block-start: 0 solid transparent;
          border-block-end: 2.4rem solid var(--project-primary);
        }

        &::after {
          border-inline-end: 2.4rem solid transparent;
          border-inline-start: 0 solid transparent;
          border-block-start: 2.4rem solid var(--project-primary);
          border-block-end: 0 solid transparent;
        }
      }
    }
  }

  @include media-down($screen-sm) {
    .project--content__details {
      padding-bottom: 1rem;
      margin-top: 1.8rem;

      summary {
        h3 {
          display: inline-flex;
          width: 80%;
          margin-block-end: 0;
        }
      }
    }
  }
}

section#skills>div {
  padding-inline-end: 0;
}

.skills--container {
  display: grid;
  max-width: 100%;
  grid-template-rows: 100px auto;
  gap: 1.2rem;
  max-height: calc(100% - 1.8rem);

  .content__title {
    position: sticky;
    top: 0;
  }

  .skills--mindmap__container {
    @extend %custom--scroll !optional;
  }
}

@include media-down($screen-md) {
  .skills--mindmap__container {
    overflow-x: scroll !important;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}

@include media-down($screen-sm) {
  .skills--container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    max-height: 100%;

    .content__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.soft--container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1.2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;

  ul {
    display: flex;
    position: relative;
    margin-block-start: 0;
    padding-inline-start: 4rem;
    list-style-type: none;
    flex-direction: row-reverse;
    justify-content: flex-end;

    li {
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      color: transparent;
      overflow: visible;
      transition: all ease-in-out 0.5s;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      @for $i from 0 through 4 {
        &.item-#{$i} {
          transform: translate(#{20 - $i * 5}vw, #{$i * 6}vh);
          z-index: #{$i * 10};
        }
      }

      &.item-4 {

        .wrapper {
          mask: var(--texture-thick) repeat center center;
        }

        .letter {
          opacity: 0.9;
        }

        p {
          height: auto;
          margin-block-start: 50%;
          opacity: 0.9;
        }
      }

      p {
        display: block;
        width: 100%;
        height: 50%;
        padding: 1.8rem;
        line-height: 1.2;
        color: var(--blank-c);
        position: absolute;
        text-align: left;
        background-color: var(--primary-desktop-c);
        opacity: 0;
        z-index: 100;
        width: min(40vw, 40vh);
        bottom: max(-40vw, -40vh);
        mix-blend-mode: luminosity;
      }

      .letter {
        display: inline-block;
        position: absolute;
        font-size: inherit;
        margin-block: 0;
        top: 1.8vw;
        left: min(38vw, 38vh);
        color: var(--text-high-contrast);
        opacity: 0.56;
        z-index: 10;
        text-wrap: nowrap;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }

      .wrapper {
        display: block;
        content: " ";
        height: min(40vw, 40vh);
        overflow: hidden;
        aspect-ratio: 1 / 1;
        box-sizing: content-box;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        border-inline-end: 2px solid var(--text-high-contrast);
        mask: var(--texture-light) repeat center center;
      }

      &:hover {

        .letter {
          opacity: 0.9;
        }
      }
    }
  }

  @include media-down($screen-md) {
    ul {
      padding-inline-start: 0;

      li {

        @for $i from 0 through 4 {
          &.item-#{$i} {
            transform: translate(#{28 - $i * 7}vw, #{$i * 7}vh);
            z-index: #{$i * 10};
          }
        }

        p {
          width: 60vw;
          bottom: -60vw;
        }

        .letter {
          left: 58vw;
        }

        .wrapper {
          height: 60vw;
          border-inline-end: none;
        }
      }
    }
  }

  @include media-down($screen-sm) {
    ul {

      li {

        @for $i from 0 through 4 {
          &.item-#{$i} {
            transform: translate(#{32 - $i * 8}vw, #{$i * 8}vh);
            z-index: #{$i * 10};
          }
        }

        &.item-4 {

          p {
            height: 130px;
          }
        }

        p {
          height: 1px;
          mix-blend-mode: normal;
          padding: 1.2rem;
          overflow: hidden;
          bottom: -60vw;
          background-color: oklch(var(--primary-desktop-c-oklch)/0.8);
          transition: all 0.5s 1s ease-in-out;
        }

        .letter {
          top: -3.2rem;
          left: 0;
          font-size: 3.2rem;
          line-height: 1.2;
          writing-mode: horizontal-tb;
          text-orientation: initial;
        }
      }
    }
  }
}